.profile-header { 
    background-color: #F7F7F8;
    position: relative;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile-return { 
    position: absolute;
    top: 24px;
    left: 24px;
    cursor: pointer;
}

.profile-avatar { 
    width: 104px;
    height: 104px;
    border-radius: 64px;
}

.profile-name { 
    font-weight: 700;
    font-size: 24px;
}

.profile-tag { 
    font-size: 18px;
    color: #97979B;
    font-weight: 400;
    margin-left: 5px;
}
.profile-nameContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-position { 
    font-size: 13px;
    color: #55555C;
    font-weight: 400;
}

.profile-content { 
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 35px;
}

.profile-content-block { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    
}

.profile-content-block-birthday { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-age { 
    color: #97979B;
}